$image-width: 200px;
$image-height: 200px;

.gc-btn {
  border: none;
  height: 36px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 3px;

  &.gc-btn--sticky {
    position: fixed;
    bottom: 10px;
  }

  &.gc-btn--sm {
    height: 28px;
    font-size: 12px;
    font-weight: 600;
  }

  &:focus {
    outline: none;
    &:active {
      outline: none;
    }
  }

  &.gc-btn--white {
    background-color: white;
    border: 1px solid $green;
    color: $green;

    &:hover {
      background-color: $lightest-grey;
      border: 1px solid $green;
      color: $green;
    }

    &:active:focus {
      background-color: $lightest-grey;
      border: 1px solid $green;
      color: $green;
    }
  }

  &.gc-btn--orange {
    background-color: $primary-colour;
    color: $white;
    font-weight: 500;

    &:hover {
      background-color: $primary-colour--dark;
      color: $white;
    }

    &:active {
      background-color: $primary-colour--dark;
      color: $white;
    }

    &:active:focus {
      background-color: $primary-colour--dark;
      color: $white;
    }
  }

  &.gc-btn-blue {
    background-color: $blue;
    color: $white;
    font-weight: 500;

    &:hover {
      background-color: $dark-blue;
      color: $white;
    }

    &:active {
      background-color: $dark-blue;
      color: $white;
    }
  }

  &.gc-btn-white {
    border: 1px solid $light-grey;
    background-color: $white;
    color: $dark-grey;

    &:hover {
      background-color: $lightest-grey;
      color: $dark-grey;
    }

    &:active {
      background-color: $lightest-grey;
      color: $dark-grey;
    }

    &:active:focus {
      background-color: $lightest-grey;
      color: $dark-grey;
    }

    &.gc-btn-white--error {
      border: 1px solid $colour-error;
      color: $colour-error;
    }
  }
}

.gc-btn-primary-lg {
  border: none;
  min-width: 120px;
}

.gc-btn-radius-right {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.custom-file-input {
  color: transparent;
  max-width: 200px;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-file-input::before {
  content: 'Upload Photo';
  color: $green;
  display: inline-block;
  border-radius: 4px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 14px;
  background-color: white;
  width: 100%;
  text-align: center;
}

#multiple.custom-file-input::before {
    content: 'Add Photos';
}

.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active {
  outline: 0;
  background: transparent;

}
.custom-file-input:active::before {
  border: 1px solid $green;
  height: 36px;
  //background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

input[type=file]:focus {
  outline: none;
}

.image-upload {
  all: unset;
}

.bu-file-upload-btn {
  position: relative;
  overflow: hidden;
  box-shadow: none;

  input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 10rem;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
  }
}

.bu-photo-upload__img {
  position: relative;
  height: $image-height;
  width: $image-width;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  padding: 40px 20px;
  cursor: pointer;

  &.cover {
    width: 100%;
    height: auto;
    @include aspect-ratio(16,5);
  }

  &:after {
    content: '';
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    -ms-filter: "alpha(opacity=50)";
  }
}

.bu-photo-upload__img-inner {
  text-align: right;
  position: absolute;
  left: 0;
  top:0;
  bottom: 0;
  right: 0;
  font-size: 2rem;
  z-index:  7;
  border-radius: 10px;
  border: 5px solid transparent;

  button {
    background-color: $dark-grey;
    font-weight: 600;
    color: white;
    padding: 0 5px;
    height: 35px;
    margin-top: -6px;
    margin-right: -5px;

    &:hover {
      text-decoration: none;
      color: $primary-colour;
      background-color: $dark-grey;
    }

    &:hover:active {
      text-decoration: none;
      color: $primary-colour;
      background-color: $dark-grey;
    }
  }
}

.btn:focus {
  outline: none;
}

.btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover {
  background-color: transparent;
  color: white;
  border-radius: 3px;
  border: none;
}