.gc-section-heading {
  font-family: $primary-font;
  font-weight: 700;
  font-size: 32px;
  color: $dark-grey;
  margin-bottom: 25px;
}

.gc-section{
  padding: 25px 10px 25px 10px;
  width: 100vw !important;
  margin-left: -50vw;
  left: 50%;
  position: relative;

  &.gc-section--grey {
    background-color: $lightest-grey;
  }

  &.gc-section--main {
    margin-top: -20px;
  }

  &.gc-section--footer {
    background-color: $dark-grey;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}