.gc-icon {
  height: 20px;
  width: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  vertical-align: text-top;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 5px;
  margin-left: 5px;

  &.gc-icon--stripe {
    width: 160px;
    height: 40px;
  }

  &.gc-icon--md {
    height: 32px;
    width: 32px;
  }

  &.gc-icon--xl {
    height: 70px;
    width: 70px;
  }

  &.gc-icon--wedding{
    background-image: url("../images/icons/wedding-cake.png");
  }

  &.gc-icon--people{
    background-image: url("../images/icons/people.png");
  }

  &.gc-icon--money{
    background-image: url("../images/icons/credit-card.png");
  }

  &.gc-icon--twitter{
    background-image: url("../images/icons/twitter.svg");
  }

  &.gc-icon--facebook{
    background-image: url("../images/icons/facebook.svg");
  }

  &.gc-icon--email{
    background-image: url("../images/icons/email.svg");
  }

  &.gc-icon--instagram{
    background-image: url("../images/icons/instagram.svg");
  }

  &.gc-icon--loading{
    background-image: url("../images/loading.svg");
  }
}

.gc-info-icon {
  width: 64px;

  @include breakpoint(tablet) {
    width: 84px;
  }

  &.gc-info-icon--lg {
    @include breakpoint(tablet) {
      width: 128px;
    }
  }

  &.gc-info-icon--sm {
    width: 32px;

    @include breakpoint(tablet) {
      width: 48px;
    }
  }
}

