.gc-lightbox-thumbnail {
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  height: 46vw;

  @include breakpoint(tablet){
      height:12vw;
    }

    @include breakpoint(laptop){
      height:10vw;
    }
}