.message {
  color: rgba(0, 0, 0, 1);
  float: left;
  text-align: left;
  border-radius: 10px;
  margin-bottom: 10px;

  &.from-me {
    float: right;
    text-align: right;
  }
}

.message-box {
  overflow: scroll;
  @include breakpoint(mobileonly){
    height: 300px;
  }

  @include breakpoint(tablet){
    height: 500px;
  }
}

.gc-message-heading {
  display: inline-block;
}