.gc-navbar {
  min-height: 80px;
  background-color: $white;
}

.gc-logo-default {
  margin-top: 10px;
  height: 50px;

  @include breakpoint(tablet) {
    margin-top: 15px;
  }

  @include breakpoint(mobileonly) {
    margin-top: 15px;
    margin-left: 20px;
  }
}

.gc-navbar-dropdown {
  margin-top: 25px;
}

.navbar-toggle {
  margin-top: 25px;
}