.gc-panel {
  border-radius: 0;
}

.gc-panel--bold {
  border: 3px solid $green;
}

.gc-panel--light {
  background-color: $lightest-grey;
}

.gc-panel--blue{
  background-color: $blue;
}

.gc-panel--white {
  background-color: rgba(255, 255, 255, 1);
}

.gc-panel-message {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 8px;
}

.gc-slide--grey {
  background-color: $grey;
}

.gc-panel--translucent {
  background-color: rgba(255, 255, 255, 0.95);
}

.gc-panel--alert {
  border-left: 5px solid $green;
}

.gc-panel--error {
  border-left: 3px solid $red;
}


