.gc-rating{
  float: right;
  margin-top: 10px;
  margin-left: 10px;
}

.gc-star-rating {
  font-family: $primary-font;
  font-size: 20pt;
}

.gc-star {
  color: $primary-colour;
  font-style: normal;
}