/* Positioning */

.gc-position-bottom {
  position: absolute;
  bottom: 5px;
}

.gc-margin-none{
  margin: 0 0 0 0;
}

.gc-margin-left {
  margin-left: 50px;
}

.gc-margin-left-xs {
  margin-left: 10px;
}

.gc-margin-right {
  margin-right: 50px;
}

.gc-margin-right-xs {
  margin-right: 10px;
}

.gc-margin-bottom {
  margin-bottom: 15px;
}

.gc-margin-top {
  margin-top: 15px;
}

.gc-margin-top--large {
  margin-top: 25px;
}
.gc-padding-small {
  padding: 5px 5px;
}

.gc-padding-none{
  padding: 0;
}

.gc-center{
  text-align: center;
}

.gc-pull-right{
  float: right;
}

.gc-pull-left{
  float: left;
}

.gc-clear-right{
  clear: right;
}

.gc-clear-left{
  clear: left;
}

.gc-font-size-lg{
  font-size: 24pt;
}

.gc-background-black{
  background-color: black;
}

.gc-vertical-center{
  vertical-align: middle;
}