.gc-booking-thumbnail {
  height: 140px;
  width: 140px;
  object-fit: cover;
  border-radius: 70px;
}

.gc-pending {
  color: red;
}

.gc-confirmed {
  color: green;
}

//.gc-bookingIcons-table {
//  display: table;
//  width: 100%;
//
//  @include breakpoint(mobileonly) {
//    margin-left: 6%;
//  }
//
//  @include breakpoint(tablet) {
//    width: 100%;
//    margin-left: 0;
//  }
//}

div.gc-booking-icon {
  display:table-row;
  width:33%;

  span {
    text-align: center;
    float: left;
  }

  p {
    text-align: center;
    float: left;
  }

}