.gc-form-label {
  font-family: $primary-font;
  font-size: 12pt;
  color: black;
}

.gc-input {
  height: 40px;
  display: block;
  width: 100%;
  font-family: $primary-font;
  font-size: 12pt;
  color: black;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 6px;
  border: 1px solid rgb(166, 166, 166);
  border-image: initial;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;

  &.gc-input-search {
    margin-bottom: 1px;
    height: 43px;
    padding: 10px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-right: none;
  }

  &.gc-input-addon {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }

}

.gc-input-box {
  height: 100px;
  width: 100%;
}