.gc-icon {
  height: 20px;
  width: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  vertical-align: text-top;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 5px;
  margin-left: 5px;

  &.gc-icon--wedding{
    background-image: url("../images/icons/wedding-cake.png");
  }

  &.gc-icon--people{
    background-image: url("../images/icons/people.png");
  }

  &.gc-icon--money{
    background-image: url("../images/icons/credit-card.png");
  }
}

