.gc-profile-text-xs{
  font-family: $primary-font;
  font-size: 12pt;
  color: $black;
}

.gc-profile-text-sm{
  font-family: $primary-font;
  font-size: 14pt;
  color: $black;
}

.gc-profile-text-md{
  font-family: $primary-font;
  font-size: 16pt;
  color: $black;
}

.gc-profile-heading-sm {
  font-family: $primary-font;
  font-size: 14pt;
  color: $black;
  margin-top: 10px;
}

.gc-profile-heading-lg {
  font-family: $primary-font;
  font-size: 24pt;
}

.gc-profile-heading-md {
  font-family: $primary-font;
  font-size: 20pt;
}

.gc-profile-wrapper{
  height:56vw;
  margin-bottom: 80px;

  @include breakpoint(tablet){
    height:18vw;
  }

  @include breakpoint(laptop){
    height:14vw;
  }
}

.gc-profile-thumbnail {
  height: 100%;
  padding-bottom: 10%;
  position:relative;
  background-size: cover;
  background-position: center;
  margin-bottom: 0;
}

.gc-profile-infobox{
  height: 70px;
  background-color: rgba(255, 255, 255, 0.8);
  position: relative;
  width: 100%;
  top: 0;
  border-bottom: 1px rgba(0, 0, 0, 0.1) solid;
  border-left: 1px rgba(0, 0, 0, 0.1) solid;
  border-right: 1px rgba(0, 0, 0, 0.1) solid;
}

.gc-badge{
  display: inline-flex;
  margin: 0 auto;
  height: 50px;
  width: 50px;
  margin-left: 5px;
  margin-right: 5px;
}

.gc-ratings-text{
  float: left;
  margin-left: 3px;
  color: rgba(58, 58, 58, 1);
}

.gc-booking-panel{

}