.gc-profile-text-xs{
  font-family: $primary-font;
  font-size: 12pt;
  color: black;
}

.gc-profile-text-sm{
  font-family: $primary-font;
  font-size: 14pt;
  color: black;
}

.gc-profile-text-md{
  font-family: $primary-font;
  font-size: 16pt;
  color: black;
}

.gc-profile-heading-sm {
  font-family: $primary-font;
  font-size: 14pt;
  color: black;
  margin-top: 10px;
}

.gc-profile-heading-lg {
  font-family: $primary-font;
  font-size: 24pt;
}

.gc-profile-thumbnail {
  height: 300px;
  position:relative;
  background-size: cover;
  background-position: center;
  margin-bottom: 0;
}

.gc-profile-infobox{
  height: 70px;
  background-color: rgba(255, 255, 255, 0.8);
  position: relative;
  width: 100%;
  top: 0;
  border-bottom-style: solid;
  border-bottom-color: rgba(0, 0, 0, 0.1);
  border-bottom-width: 1px;
}

.gc-badge{
  display: inline-flex;
  margin: 0 auto;
  height: 50px;
  width: 50px;
  margin-left: 5px;
  margin-right: 5px;
}

.gc-ratings-text{
  float: left;
  margin-left: 3px;
  color: rgba(58, 58, 58, 1);
}
