.gc-search-width {
  min-width: 400px;
}

.gc-btn-search {
  background-color: $primary-colour;
  color: white;
  border: none;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  min-width: 150px;
}
