.gc-text {
  font-family: $primary-font;
  font-size: 16px;

  &.gc-text--grey {
    color: $grey;
  }

  &.gc-text--dark-grey {
    color: $dark-grey;
  }

  &.gc-text--light-grey {
    color: $light-grey;
  }

  &.gc-text--sm {
    font-size: 14px;
  }
}


.gc-heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 46px;
  color: $green;
  margin-bottom: 36px;
  margin-top: 36px;

  @include breakpoint(tablet) {
    margin-top: 40px;
    font-size: 78px;
  }
}

.gc-profile-heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  color: $green;

  @include breakpoint(tablet) {
    font-size: 36px;
  }
}